@import '../../../node_modules/include-media/dist/_include-media.scss';
.aboutMe{
    max-width: 1200rem;
    width: 100%;
    margin: 0 auto;
    display: block;
    @include media('<=tablet'){
        max-width: 400rem;
    }
    
}

.aboutMe__Facts{
    max-width: 1200rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100rem 0 150rem;
    margin-bottom: 50rem;
    background-color: #007f96;
    border: 5rem solid;
    border-radius: 40rem;
    @include media('<=tablet'){
        border: 3rem solid;
    border-radius: 20rem;
        width: 90%;
        margin: 0rem auto 50rem;
        padding: 0;
    }
    img{
        max-width: 600rem;
        margin:auto;
        background-color: white;
        @include media('<=tablet'){
            margin: 50rem auto;
            max-width: 300rem;
        }
    }
    h2{
        margin: 0 auto;
        padding-bottom: 50rem;
        @include media('<=tablet'){
            font-size: 30rem;
            padding: 0;
            margin: 30rem;
        }
    }
    p{margin:auto}
    h2::before {
        counter-increment: section;
        content:counter(section) ". ";
      }
}

.aboutMe__FactsParagraf{
    display: flex;
    @include media('<=tablet'){
        display: grid;
    }
    p{
        @include media('<=tablet'){
            max-width: none;
            font-size: 22rem;
            line-height: 24rem;
            width: 80%;
        }
    }
}

.aboutMe__FactsDugiParagraf{
    display: grid;
    p{
        margin:50rem auto;
        max-width: 1000rem;
        @include media('<=tablet'){
            margin: auto;
            max-width: none;
            font-size: 22rem;
            line-height: 24rem;
            width: 90%;
        }
    }
}

.aboutMe__Facts:nth-child(odd){
    .aboutMe__FactsParagraf{
        flex-direction: row-reverse;
    }
}

.aboutMe__ButtonHidden{
    display: none;
}

.aboutMe__ButtonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutMe__Button{
    max-width: 200rem;
    background-color: rgba(8, 249, 255, 0.2);
    border-radius: 20rem;
    height: 70rem;
    font-size: 25rem;
    font-weight: 750;
    margin-bottom: 50rem;
    @include media('<=tablet'){
        max-width: 100rem;
        height: 30rem;
        font-size: 12rem;
    }
}

