@import '../../../node_modules/include-media/dist/_include-media.scss';
html{
    overflow-x: hidden;
}
.prviDio{
    width: 90%;
    margin: 0 auto;
    display: block;
    h1{
        padding: 20rem 0;
    }
    @include media('<=tablet'){
        width: 100%;
    }
}

.prviDio__Opis{
    width: 100%;
    display: flex;
    margin-bottom: 100rem;
    background-color: #007f96;
    border: 5rem solid;
    border-radius: 40rem;
    padding: 50rem 0;
    @include media('<=tablet'){
        border: 3rem solid;
        border-radius: 20rem;
        width: 90%;
        display: block;
        margin: 0 auto 50rem;   
        p{
            width: 80%;
            font-size: 30rem;
            line-height: 30rem;
        }
    }
}

.swiperDiv{
    max-width: 450rem;
    margin:auto 120rem;
    @include media('<=tablet'){
        width: 80%;
        margin: 50rem auto;
    }
}

.swiper-slide img{
    width: 100%;
}

a{
    text-decoration: underline;
    color: bisque;
}