@import '../../../node_modules/include-media/dist/_include-media.scss';
.myExperience{
    display: block;
    width: 100%;
    max-width: 1200rem;
    margin: 50rem auto;
    gap: 20rem;
    justify-content: center;
    background-color: #08f9ff33;
    @include media('<=tablet'){
        width: 80%;
    }
    h2::before {
        counter-increment: section;
        content:counter(section) ". ";
      }
      h4{margin: 0 auto}
}

.myExperience__Exp{
    @extend .myExperience;
    display:flex;
    @include media('<=tablet'){
        max-width: 350rem;
        margin: 50rem auto;
    }
   
}

.myExperience__Description{
    display: block;
    p{
        padding: 100rem 0;
        max-width: 1000rem;
        @include media('<=tablet'){
            max-width: 300rem;
            padding: 30rem 0;
        }
    }
}