@import '../../../node_modules/include-media/dist/_include-media.scss';
.navBar{
    position:absolute;
    top: 50rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 72rem;
    width: 100%;
    margin:0 auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    @include media('<=tablet'){
        height: 42rem;
        top: 20rem;
    }
    ul{
        padding: 0;
        position:absolute;
        height: 72rem;
        max-width: 800rem;
        display: flex;
        margin: auto;
        @include media('<=tablet'){
            display: none;
            height: 42rem;
            top: 100rem;
            flex-direction: column;
            text-align: center;
            gap: 50rem;
            
        }
    }
    li{
        display: flex;
        max-width: 250rem;
        @include media('<=tablet'){
            display: block;
            height: 40rem;
        }
    }
    a{
        font-size: 25rem;
        text-decoration:none;
        color:bisque;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 25rem;
        margin: 0 25rem;
        @include media('<=tablet'){
            padding: 0;
            padding: 10rem 20rem;
        }
    }
    a:hover{
        border-bottom: 7rem solid #08f9ff;
        background: linear-gradient(0deg, #08f9ff33,transparent);
        transition: 0.2s;
        @include media('<=tablet'){
            border-bottom: 2rem solid #08f9ff;
        }
    }
    a.router-link-exact-active{
        background-color:  #08f9ff33; 
    }
    img{
        position: absolute;
        top: -53rem;
        left: -25rem;
        bottom: 0;
        max-width: 200rem;
        width: 100%;
        @include media('<=tablet'){
            max-width: 110rem;
            top: -28rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .navBar__Menu{
        display: none;
        @include media('<=tablet'){
            display: block;
            max-width: 25rem;
                top: 8rem;
                left: 20rem;
        }
    }
    .navBar__Button{
        position: absolute;
        top: 0;
        left: 125%;
        bottom: 0;
        @include media('<=tablet'){
            position: relative;
            left: 0;
        }
    }
}

.navBar__LogoLink:hover, .navBar__LogoLink.router-link-exact-active{
   
   border-bottom: 0rem !important;
   background: none !important;
   background-color: none !important;
    
}

.navBar__MobileMenu{
    @include media('<=tablet'){
    position:fixed;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin:0 auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    z-index: 100;
    ul{
        display: flex;
    }
    a{
        font-size: 20rem;
    }
    img{
        top: 0;
    }
    .navBar__Menu{
        top:32rem;
    }
}
    
}




