@import '../../../node_modules/include-media/dist/_include-media.scss';
html{
    background-image: url('../../../public/resources/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    @include media('<=tablet'){
        background-image: url("../../../public/resources/images/backgroundmobile.svg");
        overflow-x: hidden !important;
    }
}

body{
    counter-reset: section;
}

h1{
    max-width: 800rem;
    font-size: 100rem;
    line-height: 100rem;
    font-weight: 750;
    text-align: center;
    font-stretch: condensed;
    margin: 50rem auto;
    color:bisque;
    margin-top: 200rem;
    @include media('<=tablet'){
        font-size: 40rem;
        margin: 100rem auto 40rem;
        line-height: 50rem;
    }
}

p{
    max-width: 500rem;
    width: 100%;
    font-size: 50rem;
    text-align: center;
    margin:0 auto;
    color:bisque;
    @include media('<=tablet'){
        font-size: 15rem;
        line-height: 20rem;
    }
}

h2{
    max-width: 800rem;
    font-size: 50rem;
    line-height: 100rem;
    font-weight: 750;
    text-align: center;
    margin: 0;
    color:bisque;
    @include media('<=tablet'){
        font-size: 16rem;
        line-height: 30rem;
    }
}

h3{
    max-width: 800rem;
    font-size: 45rem;
    line-height: 100rem;
    font-weight: 750;
    text-align: center;
    margin: 0;
    color:bisque;
    @include media('<=tablet'){
        font-size: 15rem;
        line-height: 30rem;
    }
}

h4{
    max-width: 800rem;
    font-size: 40rem;
    line-height: 100rem;
    font-weight: 750;
    text-align: center;
    margin: 0;
    color:bisque;
    @include media('<=tablet'){
        font-size: 13rem;
        line-height: 10rem;
    }
}

.backToTop{
    position: fixed;
    left: 50%;
    right: 0;
    bottom: 2%;
    transform: translateX(-50%);
    width: 30rem;
    height: 30rem;
    z-index: 100;
    @include media('<=tablet'){
        width: 15rem;
        height: 15rem;
    }
}